@import "~bootstrap-icons/font/bootstrap-icons.css";
.main-content
{
  background-color: #f8f8f8;
  padding-top: 30px;
}
.card-body{
  padding: 15px;
}

.btn{
background-color: #3475f8;
color: #fff;
}

