<nav class="topnav navbar navbar-light">
  <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
    <i class="fe fe-menu navbar-toggler-icon"></i>
  </button>

  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link text-muted my-2" href="#" data-toggle="modal" data-target=".modal-shortcut">
        <span class=""></span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-muted pr-0" id="navbarDropdownMenuLigroupnk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown()">
        <span class="avatar avatar-sm mt-2">
          <img src="../../../../assets/images/admin/issile.jpg" alt="..." class="avatar-img rounded-circle">
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdownMenuLink" [ngClass]="{ 'show': isDropdownOpen }">
        <a class="dropdown-item" routerLink="/Profil">My Profile</a>
        <a class="dropdown-item" routerLink="#">Lougout</a>
      </div>
    </li>

  </ul>
</nav>
