.product-img{
  border-radius: 5px 5px 0px 0px;
  font-size: 14px;
  grid-area: auto;
  height: 91px;
}
.row-item{
  font-size: 14px;
  grid-area: auto;
  line-height: 21px;
  padding: 0px 12px;
}
.productsetimg{
  align-items: center;
  justify-content: center;
  line-height: 21px;
}
