@import "~bootstrap-icons/font/bootstrap-icons.css";
.main-content
{
  background-color: #f8f8f8;
  padding-top: 30px;
}
.table{

  background-color: #fff;
  padding: 10px;

}
.btn{
background-color: #3475f8;
color: #fff;
}

td{
  color: #637381;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  padding: 10px;
  vertical-align: middle;
}
