<ul class="tabs d-flex" >
  <li class="">
    <div class="product-details " >
      <img src="assets/images/categories/red.webp" alt="img">
      <h6>Fruits</h6>
    </div>
  </li>
  <li >
    <div class="product-details " >
      <img src="assets/images/categories/red.webp" alt="img">
      <h6>Headphones</h6>
    </div>
  </li>
  <li >
    <div class="product-details " >
      <img src="assets/images/categories/red.webp" alt="img">
      <h6>Headphones</h6>
    </div>
  </li>
  <li >
    <div class="product-details " >
      <img src="assets/images/categories/red.webp" alt="img">
      <h6>Headphones</h6>
    </div>
  </li>
  <li >
    <div class="product-details " >
      <img src="assets/images/categories/red.webp" alt="img">
      <h6>Headphones</h6>
    </div>
  </li>

</ul>
